.index-container {
  margin: 0;
  padding: 0;
  background-image: url(http://antelope.fun/index-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 360vw;
  font-family: jinkai;
  position: relative;
  // visibility: hidden;
}
p {
  margin: 0;
  padding: 0;
}
.index-container {
  width: 100vw;
  height: 360vw;
}
.index-title {
  color: #fdf5d3;
  padding-top: 15vh;
  padding-left: 10vw;
  /* padding-right: 10vw; */
  font-size: 35px;
  letter-spacing: 2px;
}
.index-flag {
  color: #fdf5d3;
  padding-left: 3vw;
  padding-top: 6vh;
  font-size: 24px;
  letter-spacing: 2px;
}
.index-words {
  padding-top: 155vw;
  padding-left: 10vw;
  color: #fdf5d3;
}
.index-words div {
  transition: color 1s;
  -moz-transition: color 1s;	/* Firefox 4 */
  -webkit-transition: color 1s;	/* Safari 和 Chrome */
  -o-transition: color 1s;
  font-size: 5.8vw;
  letter-spacing: 1px;
  margin-bottom: 1.5vh;
  visibility: hidden;
}
.index-get {
  font-size: 5vw;
  color: #ffffff;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
  position: fixed;
  bottom: 4vh;
  text-decoration: none;
}